.tab {
  width: 500px;
}
.tab-nav {
  display: flex;
}
.tab-nav-item {
  margin-right: 2px;
  text-decoration: none;
  background: #ccc;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
}
.tab-nav-item.is-active {
  background: #000000;
  color: #ffffff;
}
.tab-contents {
  border: 1px solid #ccc;
  padding: 20px;
}
.tab-contents-item {
  display: none;
  /* 消しておいてjsで出す */
}
